.w-100{
    width: 100%;
}
.select{
    width: 4.2em;
}
.select{
    width: 4.2em;
}
.textarea{
    height: 4em;
}
.textarea:placeholder-shown{
    
    font-size: medium;
}
.font-large,
input:placeholder-shown{
    font-size: 1.05em;
}
.form{
    padding: 1em;
}
.dcolor{
    background-color:rgb(0, 164, 185);
}
.pel{
    padding: 0.5em 0.5em 0.5em 0;
}
.ntcurr{
    color: blue;
}
.notcurr{
    border-bottom: 0.1px solid rgb(184, 184, 184);
}
.curr{
    border-top: 0.1px solid rgb(184, 184, 184);
    border-left: 0.1px solid rgb(184, 184, 184);
    border-right: 0.1px solid rgb(184, 184, 184);
}
.main-head{
    margin: 0.5em 0 0.3em -0.3em;
}
.hd{
    height: 3.15em;
}
.wait-margin{
    margin-top: -37em;
}
@media only screen and (max-width:700px)
{
    .main-head{
        margin: 0 0 0.3em -0.3em;
    }
}